{
  "presets": ["es2015", "jest", "stage-0", "react"],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    ["transform-es2015-modules-commonjs"],
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
