@import "./var.less";
@import "./login.less";
@import "./file.less";
@import "./chat.less";
@import "./todo.less";
@import "./article.less";

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
  &.icon-warn {
    fill: @color-red;
  }
  &.icon-close {
    fill: @color-gray;
  }
}
// 表单错误提示
.validate-tip {
  display: flex;
  align-items: center;
  color: @color-red;
}

// 表单输入框
.input-box {
  margin-top: 20px;
  min-height: 60px;
  .input-field {
    margin-bottom: 5px;
  }
}

// WindowOpen 错误提示组件
.u-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  .cover {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height: 100%;
    opacity: 0.6;  /*非IE浏览器下设置透明度为60%*/
    z-Index: 999;
  }
  .modal {
    position: absolute;
    width: 500px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    background-color: #fff;
    z-Index: 9999;
    padding: 50px 0;
    text-align: center;
    &.animate-hidden {
      opacity: 0;
      transition: all .2s linear;
    }
    .confirm-box {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
    }
  }
}

// MessageOpen 操作成功提示组件
.u-message {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: @color-white;
  font-weight: 400;
  text-align: center;
  line-height: 60px;
  z-index: 99999;
  &.message-open {
    top: -60px;
    transition: top .5s;
  }
}

.u-button {
  margin-right: 20px;
}

.u-progress {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 300px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  padding: 60px 10px 0 10px;
  display: flex;
  transition: all .2s linear;
  flex-direction: column;
  overflow: auto;
  &.minus {
    height: 50px;
  }
  .btn-group {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16px;
  }
}

// 预览图片和文件的组件
.u-preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 1);
  .preview-img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

//侧边栏
.layout-side {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
}

.layout-head {
  position: fixed !important;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  background-color: @color-white !important;
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
  z-index: 9999;
  .head-content {
    display: flex;
    flex-direction: row-reverse;
    .u-logout {
      &:hover {
        background-color: #efefef;
      }
      text-align: center;
      width: 100px;
      transition: all .3s;
    }
  }
}

.layout-content {
  position: absolute;
  top: 100px;
  right: 0;
  width: calc(100% - 200px);
  min-height: calc(100% - 100px);
  padding: 20px 20px;
}
